.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  max-width: 200px;
}

.field {
  display: block;
  border: 1px orange dashed;
  width: 100%;
}

.btn {
  padding: 0 14px;
  color: green;
  background-color: orange;
  text-transform: uppercase;
  border: none;
  border-radius: 0%;
  width: 100%;
}

.btn:hover {
  background: gold;
  color: #000;
  border: none;
}

.error {
  color: orange;
}

.select {
    margin: 15px 0;
    width: 100%;
    border: none;
}

